<!doctype html>
<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>Fiddle Sticks</h1>
    <p>wat</p>
    <div id="code">
      <textarea></textarea>
    </div>
    <button id="load-code">Load</button>
    <iframe id="preview"></iframe>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript">

      var Sandbox = {
        init: function() {
          Sandbox.template = _.template($('#template').html())
          Sandbox.destination = $('#preview')[0]
          Sandbox.render()
        }
      , render: function() {
          var data = {
            code: $('#code textarea').val()
          , phaser: 'https://cdn.rawgit.com/photonstorm/phaser/2.1.0/build/phaser.js'
          }
          Sandbox.destination.srcdoc = Sandbox.template(data)
        }
      }

      $(document).ready(function() {
        Sandbox.init()
        $('#load-code').on('click', Sandbox.render)
      })

    </script>

    <script type="text/template" id="template">
      <!doctype html>
      <html>
        <body>
          <p>iframe</p>
          <script type="text/javascript" src=<%= phaser %>><%= '<'+'/script>' %>
          <script type="text/javascript">
            window.onload = function() {
              <%= code %>
            }
          <%= '<'+'/script>' %>
          <p>after</p>
        </body>
      </html>
    </script>
  </body>
</html>
