extends layout

block content
  h1
    a(href="/") Phaser Sandbox
  #preview
    iframe
  #code
    .controls
      button#load-code Load
      button#save-snippet Save
    textarea#code-box= code

block template
  script(type="text/template", id="template").
    <!doctype html>
    <html>
      <head>
        <style>
          * { margin: 0; padding: 0; }
        </style>
      </head>
      <body>
        <script type="text/javascript" src="//cdn.rawgit.com/photonstorm/phaser/<%= phaserVersion %>/build/phaser.js"><%= '<'+'/script>' %>
        <script type="text/javascript">
          window.onload = function() {
            <%= code %>
          }
        <%= '<'+'/script>' %>
      </body>
    </html>


